body {
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

h1 {
    font-size: 54px;
    text-transform: capitalize;
}

button {
    background-color:khaki;
    border: none;
    color: black;
    padding: 10px 20px;
    font-size: 18px;
    transition: 200ms;
    border-radius: 10%;
}

button:hover {
    cursor: pointer;
    transform: translateY(-2px);
}

#game-container {
    display: inline-flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    background-color: rgb(206, 178, 143)
}

#gameboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 706px;
    height: 606px;
    border: 3px solid black;
    background-color: rgb(0, 0, 167);
}

.box {
    width: 100px;
    height: 100px;
    background-color: rgb(197, 197, 197);
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 10px solid rgb(0, 0, 167);
}

#next-move-row {
    width: 706px;
    height: 106px;
    display: flex;
    border: 3px solid transparent;
}

.next-move {
    width: 100px;
    height: 100px;
    border: 10px solid transparent;
    border-radius: 50%;
}

.red-move:hover {
    content: url("images/red.png");
}

.yellow-move:hover {
    content: url("images/yellow.png");
}

.fly-in {
    transform: translateY(0px) !important;
    transition: 0.5s;
}

.side-container {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    margin-left: 36px;
    padding: 16px;
    background-color: rgb(206, 178, 143);
    width: 200px;
}

span {
    font-size: 18px;
    margin-bottom: 8px;
}

.settings-options {
    margin-left: 16px;
    margin-bottom: 16px;
}

#difficulty-container {
    display: none;
}

#scoreboard {
    display: flex;
    flex-wrap: wrap;
    width: 190px;
}

.player-name {
    width: 95px;
}

.player-score {
    width: 95px;
}